* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.container {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.info {
    margin: 2rem;
}

button {
    padding:0.3rem;
    margin: 1rem;
}