* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

#title {
    font-size: 3rem;
    color: white;
    min-width: 100vh;
    margin: 0;
    background-color: black;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

#container {
    display: flex;
    min-width: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

button {
    padding:0.3rem;
    margin: 1rem;
}